<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Processing Examples by P. Conrad</title>
    <link href="https://pconrad.github.io/processing-examples/assets/css/style.css?v=88bd0ebe0ecd7d6cfa1933a9d9b7d7068c8dfb56" rel="stylesheet">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>

     <script src="https://pconrad.github.io/processing-examples/assets/javascript/anchor-js/anchor.min.js"></script>
    <script>anchors.add();</script> 
  </body>
</html>
